<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>
            stock-watcher
        </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap" rel="stylesheet">
        <link rel="stylesheet/less" type="text/css" href="styles.less"  crossorigin="anonymous" />
    </head>
    <body>
        <div id="app">
            <div class="title">
                Stock Watcher
            </div>
            <div class="searchview">
                <input placeholder="Enter stock symbol"/>
                <button>add</button>
            </div>
        </div>

        <script type="text/template" id="stockquoteview-template">
            <span class="name"><%- name %></span>
            <span class="symbol"><%- symbol %></span>
            <span class="price"><%- price %></span>
            <span class="groupChange">
                <svg class="arrowUp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"/></svg>
                <svg class="arrowDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"/></svg>
                <span class="change"><%- change %></span>
                <span class="changePercent">(<%- changePercent %>%)</span>
            </span>
            <span class="open"><%- open %></span>
            <span class="high"><%- high %></span>
            <span class="low"><%- low %></span>
        </script>

        <!-- LESS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" crossorigin="anonymous"></script>

        <!-- BACKBONE JS-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/underscore@1.9.1/underscore-min.js" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/backbone@1.4.0/backbone-min.js" integrity="sha256-OO+KD/bMG3Dr57LO27ZhYL2zYhLP1CJIkCXUUDnFNuc=" crossorigin="anonymous"></script>

        <!-- MODELS -->
        <script src="js/models/stockquote.js"></script>
        <script src="js/models/searchresult.js"></script>
        <!-- COLLECTIONS -->
        <script src="js/collections/stockquotes.js"></script>
        <!-- VIEWS -->
        <script src="js/views/stockquoteview.js"></script>
        <script src="js/views/searchview.js"></script>
        <script src="js/views/appview.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>
