@green: #299E00;
@green-light: #6AF531;
@green-dark: #00A333;
@red: #BB0606;
@red-light: #EB5631;
@red-dark: #901700;
@button: #284CC9;
@titles: #98A1A8;
@caption: #919AA0;
@type: #3E5769;

@sizes: {
    mobile: 320px;
    tablet: 768px;
    desktop: 1024px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
}

#app {
    padding: 15px;
}

.button {
    background-color: @button;
}

.title {
    color: @type;
}

.caption {
    color: @caption;
}

.type {
    color: @type;
}

.title {
    font-size: 3em;
    color: @type;
    font-weight: 800;
}

.searchview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 20px auto;

    & > input {
        font-size: 1.7em;
        flex: 3;
        min-width: 0;
        height: 100%;
        box-sizing: border-box;
        border: 2px solid @titles;
        border-radius: 3px;
        padding: 30px;
        margin: 5px;
    }

    & > button {
        flex: 1;
        min-width: 0;
        height: 100%;

        border: none;
        border-radius: 3px;
        margin: 5px;

        background-color: @button;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5em;

    }
}

.stockquote {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 60% 40%;
    grid-auto-flow: column;
    background-color: white;
    padding: 20px 25px 25px;
    box-sizing: border-box;
    border-radius: 3px;

    &.trendingUp {
        & > .groupChange {
            color: @green;
            & > .arrowUp {
                display: inline;
            }
        }
    }

    &.trendingDown {
        & > .groupChange {
            color: @red;
            & > .arrowDown {
                display: inline;
            }
        }
    }

    &>span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .name {
        color: @type;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .symbol {
        color: @caption;
        font-weight: 600;
        font-size: 1.3em;
    }
    .price {
        color: @type;
        text-align: right;
        font-size: 1.7em;
    }
    .groupChange {
        text-align: right;
        font-size: 1.3em;
        font-weight: 600;
    }

    .open {
        display: none;

        @media (min-width: @sizes[tablet]) {
            display: flex;
        }
    }

    .high {
        display: none;

        @media (min-width: @sizes[tablet]) {
            display: flex;
        }
    }

    .low {
        display: none;

        @media (min-width: @sizes[tablet]) {
            display: flex;
        }
    }

}

.trendArrow {
    display: none;
    height: 1em;
}

.arrowUp {
    .trendArrow();
    fill: @green;
}

.arrowDown {
    .trendArrow();
    fill: @red;
}
